h1{
    font-family: sans-serif;
}
img,.info{
    display: inline-block;
}
img{
    width: 130px;
    height: 130px;
}
hr{
    width: 100%;
}
.main{
	margin-right: 100px;
	margin-left: 100px;
}
body{
    background-color: Gray;
}
button{
    width: 4em;
	height: 30px;
	background-color: antiquewhite;
	font-weight: bold;
	cursor: pointer;
	font-family: san-serif;
	font-size: 1.4rem;
	border-radius: 10px;
	opacity: 0.5;
}
button:hover{
    background-color: lightblue;
}
a{
    color: gray;
}
img,.information{
	display: inline-block;
}
